<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button (click)="openProfileOpts()" slot="end" class="profile-button" color="medium">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
        <ion-icon [name]="isProfileOptsOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <app-profile-options *ngIf="isProfileOptsOpen"></app-profile-options>
    <swiper-container #swiper [pagination]="true" style="text-align: center;">
        <swiper-slide *ngFor="let slide of carouselSlides">
            <img [src]="slide.imgSrc" />
        </swiper-slide>
    </swiper-container>
    <div *ngIf="ready">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; padding: 30px;">
            <app-product-item *ngFor="let produto of produtos;" [produto]="produto"></app-product-item>
        </div>
    </div>
</ion-content>
<app-tabs currentPage="home"></app-tabs>