<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form (submit)="salvarConta()" [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-input formControlName="nome" labelPlacement="floating" placeholder="Nome" label="Nome"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-icon name="mail" slot="start"></ion-icon>
                        <ion-input formControlName="email" labelPlacement="floating" placeholder="email@email.com" label="Email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-icon name="lock-closed" slot="start"></ion-icon>
                        <ion-input formControlName="senha" labelPlacement="floating" placeholder="*******" label="Senha" [type]="passwordVisible ? 'text' : 'password'"></ion-input>
                        <ion-icon [name]="passwordVisible ? 'eye-off' : 'eye'" slot="end" (click)="changePasswordVisibility()"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" style="text-align: end;">
                    <ion-button expand="full" color="success" [disabled]="!form.valid" type="submit">
                        Criar conta
                        <ion-icon name="add" slot="end"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
